/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
	font-family: 'Raleway', sans-serif;
}

nav .brand-logo {
	font-family: 'Satisfy', cursive;
	color: #ffff;
	padding: 0 2em;
}


.header {
	line-height: 1.6em;
}

.nav-wrapper {
	background-color: #F39237;
}

.button-sp {
	background-color: #ef5340;
}

.card-panel {
	background-color: #1e91d6;
}

.col_servizio {
	margin-top: 100px;
}

.col_servizio h4 {
	font-size: 2.5em;
}

.col_servizio h5 {
	font-size: 1.3em;
	line-height: 1.5em;
}

.card {
	background-color: #1e91d6;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.page-footer {
	background-color: #F39237;
	margin 0;
}

.social-icon {
	font-size: 1.5em;
	color: #fff;
	padding: 0 20px;
}
